header {
    background-color: rgb(47, 47, 47);
    color: black;
}

body {
    background-color: black;
    color: white;
}

footer {
    background-color: rgb(47, 47, 47);
    color: gray;
}

a {
    color: dodgerblue;
}