@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    background-color: #1E1B1Aff;
}

.titulo-destaque {
    color: #50232Cff;
}

.paragrafo-destaque {
    color: #50232Cff;
}

.apresentacao {
    margin: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    color: #CBB0A2ff;
    font-size: 36px;
    font-weight: 400;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    color: #CBB0A2ff;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    text-decoration: none;
    background-color: #50232Cff;
    color: #1E1B1Aff;
    width: 280px;
    text-align: center;
    border-bottom: 5px solid #CBB0A2ff;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.apresentacao__imagem {
    border: 5px solid #CBB0A2ff;
    border-radius: 5px;
}