body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #1E1B1Aff;
}

header {
    background-color: #332024ff;
    color: #CBB0A2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #1E1B1Aff;
    color: #CBB0A2ff;
}

footer {
    background-color: #332024ff;
    color: #CBB0A2ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #50232Cff;
}

.titulo-destaque {
    color: #50232Cff;
}

.paragrafo-destaque {
    color: #50232Cff;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
}