* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #1E1B1Aff;
}

header {
    background-color: #332024ff;
    color: #CBB0A2ff;
}

main {
    background-color: #1E1B1Aff;
    color: #CBB0A2ff;
}

footer {
    background-color: #332024ff;
    color: #CBB0A2ff;
}

a {
    color: #50232Cff;
}

.titulo-destaque {
    color: #50232Cff;
}

.paragrafo-destaque {
    color: #50232Cff;
}

.apresentacao {
    display: flex;
    align-items: center;
}