@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    background-color: #1e1b1a;
    color: #CBB0A2ff;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: #50232Cff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.1s;
}

.cabecalho__menu__link:hover {
    color: #CBB0A2ff;
    transition: 0.1s;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__conteudo {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    color: #CBB0A2ff;
    font-size: 2.25rem;
    font-weight: 400;
    font-family: "Krona One", sans-serif;
}

.titulo-destaque {
    color: #50232Cff;
}

.apresentacao__conteudo__paragrafo {
    color: #CBB0A2ff;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.paragrafo-destaque {
    color: #50232Cff;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    color: #CBB0A2ff;
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.apresentacao__links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: #50232Cff;
    width: 50%;
    text-align: center;
    border: 3px solid #50232Cff;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}

.apresentacao__links__link:hover {
    color: #CBB0A2ff;
    border: 3px solid #CBB0A2ff;
    transition: 0.1s;
}

.apresentacao__imagem {
    width: 50%;
    border: 3px solid #CBB0A2ff;
    border-radius: 3px;
}

.rodape {
    background-color: #50232Cff;
    color: #1e1b1a;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 24px;
}