@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #b3b3b3;
    --cor-terciaria: #ffffff;
    --cor-hover: #1b1b1b;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-paragrafo: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-paragrafo);
    font-size: 0.9375rem; /* 15px */
    font-weight: 400;
    transition: 0.1s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    color: var(--cor-secundaria);
    font-size: 2.25rem; /* 36px */
    font-weight: 400;
    font-family: var(--fonte-titulo);
    text-align: justify;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    color: var(--cor-secundaria);
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
    font-family: var(--fonte-paragrafo);
    font-optical-sizing: auto;
    font-style: normal;
    text-align: justify;
}

.paragrafo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    color: var(--cor-secundaria);
    font-size: 1.5rem; /* 24px */
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

.apresentacao__links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border: 0.1875rem solid var(--cor-secundaria);
    border-radius: 0.5rem; /* 8px */
    font-size: 1.5rem; /* 24px */
    padding: 1.34375rem 0;
    font-family: var(--fonte-paragrafo);
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.apresentacao__links__link:hover {
    color: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
    border: 0.1875rem solid var(--cor-secundaria);
    border-radius: 0.1875rem;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
    text-align: center;
    padding: 1.5rem;
}

.rodape__link {
    text-decoration: none;
    color: var(--cor-primaria);
}

/* curriculo.html */

.apresentacao__curriculo {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
    min-height: 100vh;
}

.apresentacao__conteudo__artigo {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.apresentacao__conteudo__artigo__link {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__artigo__link__titulo {
    color: var(--cor-terciaria);
    font-family: var(--fonte-titulo);
    font-size: 1.25rem; /* 20px */
}

.apresentacao__conteudo__artigo__link__descricao {
    color: var(--cor-secundaria);
    font-family: var(--fonte-paragrafo);
}
